<!doctype html>
%html{:lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}  
  %body
    / Main Container
    .container
      / Navigation
      %header
        %a{:href => ""}
          %h4.logo TEAM 9
        %nav
          %ul
            %li
              %a{:href => "#hero"} HOME
      / Hero Section
      %section#hero.hero
        %h2.hero_header
          %span.light
            %font{:color => "#ffffff"}> DREAM
            CASTERS
        %p.tagline WHERE DREAMS ARE EXPLAINED
      / About Section
      %section#about.about
        %h2.hidden About
        %p.text_column Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      / Stats Gallery Section
      .gallery
        .thumbnail
          %h1.stats Dream 1
          %h4 TITLE
          %p One line description
        .thumbnail
          %h1.stats Dream 2
          %h4 TITLE
          %p One line description
        .thumbnail
          %h1.stats Dream 3
          %h4 TITLE
          %p One line description
        .thumbnail
          %h1.stats Dream 4
          %h4 TITLE
          %p One line description
      / Parallax Section
      / More Info Section
      %footer
        %article.footer_column
        / Footer Section
      / Copyrights Section
      .copyright &copy;2016 - Team 9
    / Main Container Ends