<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
      </meta>
    </meta>
    <title>
      <%= yield(:title) %>
    </title>
  </head>
  <body>
    <!-- Main Container
    -->
    <div class="container">
      <!-- Navigation
      -->
      <header>
        <a>
          <h4 class="logo">TEAM 9</h4>
        </a>
        <nav>
          <ul>
            <li>
              <a href="#hero">HOME</a>
            </li>
            <li>
              <a href="dreamcasters/newpost">NEW POST</a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- Hero Section
      -->
      <section class="hero" id="hero">
        <h2 class="hero_header">
          <span class="light">
            <font color="#ffffff">DREAM</font>
            CASTERS
          </span>
        </h2>
        <p class="tagline">WHERE DREAMS ARE EXPLAINED</p>
      </section>
      <!-- About Section
      -->
      <section class="about" id="about">
        <h2 class="hidden">About</h2>
        <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </section>
      <!-- Stats Gallery Section
      -->
      <div class="gallery">
        <div class="thumbnail">
          <h1 class="stats">Dream 1</h1>
          Description 1
          <div class="thumbnail"></div>
          <h1 class="stats">Dream 2</h1>
          Description 2
        </div>
      </div>
      <!-- Parallax Section
      -->
      <!-- More Info Section
      -->
      <footer>
        <article class="footer_column"></article>
        <!-- Footer Section
        -->
      </footer>
      <!-- Copyrights Section
      -->
      <div class="copyright">&copy;2016 - Team 9</div>
    </div>
    <!-- Main Container Ends
    -->
  </body>
</html>
