@import "bootstrap-sprockets";
@import "bootstrap";


html {
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding-top: 60px;

  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  background-color: #515151 !important;
}

*, p, span, div {
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

section {
  overflow: auto;
}

input[type="checkbox"] {

}

.form-control {
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 22px !important;
}

.navbar-brand {
  font-size: 32px !important;
  font-weight: normal !important;
}

.btn {
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

.btn-primary.btn-lg {
    font-size: 22px !important;
    padding: 8px !important;
    font-weight: bold !important;

}

.submit-button { 
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.container {
  background-color: #FFFFFF;
}

body main div {
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

/* adding new stuff here */
.tb1 {
  text-align: left;
  border: 2px dashed #D1C7AC;
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.lefttext {
  text-align: left;
}

.logo {
  text-align: center;
  padding: 5px;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
  text-align: center;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}


th.attr, td.attr {
  text-align: center;
  white-space: nowrap;
}

td {
  text-align: left;
}

th {
  padding: 0;
  font-family: annie-use-your-telescope;
  font-style: normal;
  font-weight: 400;
  font-size: large;
  text-align: left;
}
