%html
  %head
    %title= yield(:title)
  %body
    .container
      %header
        %font{:size => "18px", :color => "EEEEEE"}Dreamcasters
        %nav
          %ul
            %li
              New Dream
            %li
              Dream List
            %li
              Back
      .dreamgallery
        %table#dreams
          %thead
            %tr
              %th Title
              %th Text
          %tbody
            - @dreams.each do |dream|
              %tr
                %td.title= dream.title
                %td.text= dream.text
