<h1>Here is the dream:</h1>
<p>
  <strong>Title:</strong>
  <%= @dream.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @dream.text %>
</p>

<%= link_to '<button type="button">Back to Home</button>'.html_safe, dreams_path %>
